test-gpu()
{
  ./test-vertexer.sh true true
}
export_function test-gpu

aliload()
{
  export ALIBUILD_WORK_DIR="/home/alidock/alice/sw"
  eval $(alienv load O2/latest 2> /dev/null)
}
export_function aliload

browse-gpu-cpu()
{
    export ALIBUILD_WORK_DIR="/home/alidock/alice/sw"
    eval $(alienv load O2/latest 2> /dev/null)
    root -l /home/alidock/util/VertexerDataBrowser.C++\("\"/home/alidock/alice/data/000vtx-alien/vertexer_gpu_data.root\", \"/home/alidock/alice/data/000vtx-alien/vertexer_serial_data.root\""\)
    echo test returned $?
}

browse-gpu-cpu-mcref()
{
    export ALIBUILD_WORK_DIR="/home/alidock/alice/sw"
    eval $(alienv load O2/latest 2> /dev/null)
    root -l /home/alidock/util/VertexerDataBrowser.C++\("\"/home/alidock/alice/data/000vtx-alien/vertexer_gpu_data.root\", \"/home/alidock/alice/data/000vtx-alien/vertexer_serial_mcref_data.root\""\)
    echo test returned $?
}

browse-cpu-cpu-mcref()
{
    export ALIBUILD_WORK_DIR="/home/alidock/alice/sw"
    eval $(alienv load O2/latest 2> /dev/null)
    root -l /home/alidock/util/VertexerDataBrowser.C++\("\"/home/alidock/alice/data/000vtx-alien/vertexer_serial_data.root\", \"/home/alidock/alice/data/000vtx-alien/vertexer_serial_mcref_data.root\""\)
    echo test returned $?
}

export_function browse-gpu-cpu
export_function browse-gpu-cpu-mcref
export_function browse-cpu-cpu-mcref
